body{

    margin:0;

    padding:0;

    font-family:Segoe UI,Arial,sans-serif;

    background:#f4f7fb;

}

.container{

    width:90%;

    max-width:1300px;

    margin:auto;

    padding:30px;

}

h1{

    color:#1a73e8;

    margin-bottom:30px;

}

.grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

    gap:20px;

}

.card{

    background:white;

    border-radius:18px;

    padding:20px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.card h2{

    margin-top:0;

    color:#1a73e8;

}

.info{

    display:flex;

    justify-content:space-between;

    padding:10px 0;

    border-bottom:1px solid #ececec;

}

.value{

    font-weight:bold;

}

.status-good{

    color:#2E7D32;

    font-weight:bold;

}

.status-warning{

    color:#F57C00;

    font-weight:bold;

}

table{

    width:100%;

    border-collapse:collapse;

    margin-top:15px;

}

th{

    background:#1a73e8;

    color:white;

    padding:12px;

    font-size:15px;

}

td{

    padding:12px;

    text-align:center;

    border-bottom:1px solid #ececec;

    font-size:14px;

}

tr:hover{

    background:#f5f9ff;

}

.pipeline{

    text-align:center;

    font-size:18px;

    line-height:2.2;

}
#stationTable{

    overflow-x:auto;

}
.timelineItem{

    display:flex;

    align-items:flex-start;

    margin-bottom:18px;

}

.timelineDot{

    width:14px;

    height:14px;

    border-radius:50%;

    background:#1a73e8;

    margin-right:15px;

    margin-top:6px;

    flex-shrink:0;

}

.timelineText{

    font-size:15px;

    line-height:1.6;

    color:#333;

}

